<mat-toolbar style="background-color:black;color:white">
  <mat-toolbar-row>
    <span>MDCU Research Club</span>
  </mat-toolbar-row>

  <mat-toolbar-row style="font-size: 14px;line-height:20px;">
    <span>
      Students Academic Affairs<br />
      Faculty of Medicine, Chulalongkorn University<br />
      1873 Rama IV Rd Pathumwan, Bangkok, 10330
    </span>
  </mat-toolbar-row>
  <mat-toolbar-row style="font-size: 14px;line-height:20px;">
    contact: MDCUResearchclub@docchula.com
  </mat-toolbar-row>
</mat-toolbar>
