<div fxLayout="column" fxFlexOffset="3em" fxLayoutGap="3em" style="width:100%;padding:3em;background-color:white">
  <div>
    <img src="assets/images/danai-cards.jpg" style="display:block;margin:auto" />
  </div>
  <div>
    <section fxLayout="column" class="banner" appAnimate="fadeInRight" speed="fast" aos>
      <h1 class="mat-display-1" style="font-family: 'Emblema One';font-size:48px">
        An inspiring story of our beloved medical educator
      </h1>
    </section>
  </div>
  <div fxFlex="row" fxLayout="row" fxLayoutAlign="space-evenly" fxLayoutGap="3em">
    <div fxFlex="50">
      <img src="assets/images/danai.jpg" style="display:block;margin:auto" />
    </div>
    <div fxFlex="50">
      I wonder when he started to fall in love with education. He said one day in class that he found his ikigai already. He was planning a class schedule when he was only in second grade. He’s devoted his life on constant development our school, MDCU
      <br />
      <br />
      <br />
      ibero commodo, imperdiet risus eu, malesuada elit. Proin. The journey takes her a long way in her career.In one lecture others thought was so boring, her eyes shine bright. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et diam sapien. Suspendisse potenti. Quisque dignissim odio vel placerat mollis. Integer nec libero commodo, imperdiet risus eu, malesuada elit. Proin. The journey takes her a long way in her career.
      <br />
      <br />
      <br />
      Author: Nattacha Srithaeatpong
    </div>
  </div>
</div>
