<img class="parallax" appParallax ratio="0.7" src="assets/images/banner-mdcu.png" style="min-width:100%;min-height: 400px;top:0px;" />
<div fxLayout="column" fxFlexOffset="3em" fxLayoutGap="1em" style="width:100%;">
  <div style="padding:3em">
    <section fxLayout="column" class="banner" appAnimate="fadeInRight" speed="fast" aos>
      <h1 class="mat-display-1" style="font-family: 'Emblema One';color:white">Research Talk</h1>
      <div style="width:25vw;min-width:500px;color:white">
        Watch our faculties share their experience and gain insight into research in various fields!
      </div>
    </section>
  </div>
  <router-outlet></router-outlet>
</div>
